@use './includes/colors' as color;
@use './includes/typography' as font;
@use './includes/variables' as var;
@use './includes/_mixins.scss' as mx;
@use './includes/classes';

@use './global.scss';

#navigation .container-fluid {
  justify-content: right;
}

.navbar-nav .nav-link.active {
  color: color.$green !important;
  text-shadow: 0 0 0 transparent;
}

.footbar .nav-link.active {
  color: color.$black !important;
}

.index-title {
  color: color.$green;
}

#index-header, #about-header, #help-header, #testimonials-header, #contact-header, #error-main {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

.header .hero-title {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateX(-50%);
}


#index-header::before, #about-header::before, #help-header::before, #testimonials-header::before, #contact-header::before, #error-main::before {
  content: '';
  inset: 0;
  position: absolute;
  z-index: -1;
  @include mx.bgColor(color.$darkGreen);
  opacity: 0.5;
}

#index-header::after {
  @include mx.bgCenter('/images/index-hero.webp');
  content: '';
  inset: 0;
  position: absolute;
  z-index: -1;
  opacity: 0.8;
}

#about-header::after {
  @include mx.bgCenter('/images/about-hero.webp');
  content: '';
  inset: 0;
  position: absolute;
  z-index: -1;
  opacity: 0.8;
}

#help-header::after {
  @include mx.bgCenter('/images/help-hero.webp');
  content: '';
  inset: 0;
  position: absolute;
  z-index: -1;
  opacity: 0.8;
}

#testimonials-header::after {
  @include mx.bgCenter('/images/testimonials-hero.webp');
  content: '';
  inset: 0;
  position: absolute;
  z-index: -1;
  opacity: 0.8;
}

#contact-header::after {
  @include mx.bgCenter('/images/contact-hero.webp');
  content: '';
  inset: 0;
  position: absolute;
  z-index: -1;
  opacity: 0.8;
}

#error-main::after {
  @include mx.bgCenter('/images/error-hero.webp');
  content: '';
  inset: 0;
  position: absolute;
  z-index: -1;
  opacity: 0.8;
}

body .main {
  width: 100%;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-btns {
  .landing-btn {
    padding: 0.75rem 1.5rem;
    border-radius: 3rem;
    color: color.$white;
  }
  .contact-btn {
    border: 2px solid color.$darkGreen;
    color: color.$black;
    &:hover {
      border-color: color.$softGreen;
      background-color: color.$softGreen;
      color: color.$white;
    }
  }
  .about-btn {
    border: 2px solid color.$darkCream;
    color: color.$black;
    &:hover {
      border-color: color.$cream;
      background-color: color.$cream;
      color: color.$black;
    }
  }
}

.testimonial-index {
  min-height: 80vh;
  background-color: color.$whiteSmoke;
}

.testimonial-index figure {
  width: 25%;
}

  .testimonial-index #client-caption {
    font-size: 1.25rem;
  }

.caption-underline {
  width: 50%;
  border-top: 4px solid color.$gray;
  margin-bottom: 0rem;
}

.testimonial-index .testimonial-index-text {
  width: 75%;
  
  p {
    font-size: 1.25rem;
  }
}

.list-group .list-group-item {
  min-width: 12rem;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  text-align: center;
  padding: 0;
  a {
    min-width: 100% !important;
    color: color.$black;
    padding: 0.5rem 1rem;
    border-radius: 3rem;
    transition: var.$trs-03;
  }

  .anxiety {
    @include mx.border2(#B0C4DE);
  }
  .depression {
    @include mx.border2(#2F4F4F);
  }
  .trauma {
    @include mx.border2(#8B0000);
  }
  .grief {
    @include mx.border2(#36454F);
  }
  .stress {
    @include mx.border2(#FF6347);
  }
  .addiction {
    @include mx.border2(#4B0082);
  }
  .phobias {
    @include mx.border2(#4682B4);
  }
  .burnout {
    @include mx.border2(#CC5500);
  }
  .insomnia {
    @include mx.border2(#191970);
  }
  .loneliness {
    @include mx.border2(#9370DB);
  }
  .anger {
    @include mx.border2(#B22222);
  }
  .guilt {
    @include mx.border2(#556B2F);
  }
}

.testimonial-index .index-testimonial-btn, .benefits-btn-section .index-testimonial-btn {
  border: 2px solid color.$green;
  background-color: transparent;
  color: color.$green;
  padding: 0.5rem 1.75rem;
  border-radius: 3rem;
  &:hover {
    background-color: color.$green;
    color: color.$white;
  }
}

.quotes-carousel {
  min-width: 100vw;
  min-height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.quotes-carousel::before {
  content: '';
  inset: 0;
  z-index: -1;
  position: absolute;
  @include mx.bgColor(color.$softBlack);
  opacity: 0.4;
}

.quotes-carousel::after {
  content: '';
  inset: 0;
  z-index: -5;
  position: absolute;
  @include mx.bgCenter('/images/quotes-bg.webp');
  opacity: 1;
}

.footer {
  background-color: color.$green;
}

.blockquote {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.blockquote p {
  width: 50%;
}

.quote-text {
  font-size: 2.25rem;
  margin-bottom: 1.5rem;
}

.quote-author {
  font-size: 1.5rem;
  font-style: italic;
}

.dev-signing {
  color: color.$whiteSmoke;
}

.dev-link {
  color: color.$darkCream;
  transition: var.$trs-03;

  &:hover {
    color: color.$cream;
  }
}

#about-intro-line {
  width: 85%;
  border-top: 4px solid color.$gray;
}

#career-section {
  background-color: color.$whiteSmoke;
}

.about-contact-bg {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

.about-contact-bg::after {
  content: '';
  inset: 0;
  position: absolute;
  z-index: -1;
  @include mx.bgTop('/images/about-contact-bg.webp');
  opacity: 0.8;
}

.about-contact-div p {
  color: color.$whiteSmoke;
  text-shadow: 0 0 0.5rem color.$softerBlack;
  font-size: 2rem;
}

.about-contact-btn-div .about-contact-btn {
  min-width: 14rem;
  border: 4px solid color.$whiteSmoke;
  border-radius: 3rem;
  color: color.$whiteSmoke;
  text-shadow: 0 0 0.5rem color.$black;
  transition: var.$trs-03;

  &:hover {
    border: 4px solid color.$green;
    color: color.$white;
    background-color: color.$green;
  }
}

#help-bg {
  min-height: 90vh;
  position: relative;
  &::after {
    content: '';
    inset: 0;
    z-index: -1;
    position: absolute;
    @include mx.bgCenter('/images/help-bg.webp');
    background-attachment: fixed;
    opacity: 0.9;
  }

  .help-bg-quote {
    font-size: 1.75rem;
    color: color.$white;
    text-shadow: 0 0 0.25rem color.$black;
  }
  .help-bg-author {
    font-size: 1.25rem;
    font-style: italic;
    color: color.$white;
    text-shadow: 0 0 0.25rem color.$black;
  }
}

#benefits-intro {
  background-color: color.$whiteSmoke;
}

.benefits-list .benefit-item {
  font-size: 1.1rem;
}

#help-contact-bg {
  min-height: 100vh;
  position: relative;
  &::after {
    content: '';
    inset: 0;
    z-index: -1;
    position: absolute;
    @include mx.bgCenter('/images/help-bg-contact.webp');
    opacity: 0.8;
  }

  h3 {
    width: 65%;
    color: color.$white;
    text-shadow: 0 0 0.5rem color.$black;
    font-size: 3.75rem;
  }

  p {
    width: 60%;
    color: color.$white;
    text-shadow: 0 0 0.35rem color.$black;
    font-size: 1.5rem;
  }

  .help-contact-btn {
    padding: 0.5rem 2rem;
    border-radius: 3rem;
    color: color.$white;
    border: 2px solid color.$white;
    text-shadow: 0 0 0.5rem color.$black;
    box-shadow: 0 0 0.15rem 0 color.$black;
    &:hover {
    border: 2px solid color.$softGreen;
    background-color: color.$softGreen;
    color: color.$white;
    }
  } 
}

#testimonials-wrapper {
  min-height: 100vh;
}

#testimonials-contact-bg {
  min-height: 100vh;
  position: relative;
  &::before {
    content: '';
    inset: 0;
    z-index: -1;
    position: absolute;
    @include mx.bgColor(color.$black);
    opacity: 0.2;
  }
  &::after {
    content: '';
    inset: 0;
    z-index: -2;
    position: absolute;
    @include mx.bgCenter('/images/testimonials-bg-contact.webp');
    opacity: 0.8;
  }
}

#testimonials-contact-bg .testimonials-contact-btn {
  padding: 0.5rem 2rem;
  border-radius: 3rem;
  color: color.$white;
  border: 2px solid color.$white;
  text-shadow: 0 0 0.5rem color.$black;
  box-shadow: 0 0 0.15rem 0 color.$black;
  &:hover {
  border: 2px solid color.$softGreen;
  background-color: color.$softGreen;
  color: color.$white;
  }
}

#testimonials-contact-bg blockquote {
  .testimonials-quote {
    font-size: 1.75rem;
    color: color.$white;
    text-shadow: 0 0 0.25rem color.$black;
  }
  .testimonials-author {
    font-size: 1.25rem;
    font-style: italic;
    color: color.$white;
    text-shadow: 0 0 0.25rem color.$black;
  }
}

#faq-wrapper {
  min-height: 100vh;
}

.accordion-button:not(.collapsed) {
  background-color: color.$softGreen !important;
  color: color.$white !important;
}

#form-wrapper {
  min-height: 100vh;
}

.contact-info-list {
  list-style: none;
  padding-left: 0;
}

#floatingTextarea2 {
  resize: none;
}

#textarea-label {
  margin-left: 0.5rem;
}

#error-main {
  color: color.$white;
  h1, h2 {
    text-shadow: 0 0 0.25rem color.$softBlack;
  }
}

#error-main .error-btn {
  padding: 0.5rem 3rem;
  border-radius: 3rem;
  color: color.$white;
  border: 2px solid color.$white;
  font-size: 1.25rem;
  text-shadow: 0 0 1rem color.$black;
  &:hover {
  border: 2px solid color.$green;
  background-color: color.$green;
  color: color.$white;
  }
}

@media all and (max-width: 480px) {
 
  .hero-title {
    font-size: 3.25rem;
  }

  .about-contact-div p {
    font-size: 1.25rem;
  }

  .testimonial-index figure {
    width: 35%;
  }

  .testimonial-index .testimonial-index-text {
    width: 90%;
  }

  #contact-header::after {
    background-position-x: 65%;
  }
}

@media all and (min-width: 481px) and (max-width: 767px) {
 
  .about-contact-div p {
    font-size: 1.75rem;
  }
}

@media all and (max-width: 767px) {


  .testimonial-index figure {
    min-width: 75%;
  }

  .blockquote p {
    width: 90%;
  }

  .list-group .list-group-item {
    min-width: 18rem;
  }

  .about-contact-bg::after {
    @include mx.bgTop('/images/about-contact-bg-mobile.webp');
  }
}

@media all and (max-width: 991px) {

  #navbarNav .navbar-nav {
    position: relative;
    margin-top: 0.75rem;
  }

  #navbarNav .navbar-nav::before {
    content: '';
    inset: 0;
    z-index: -1;
    border-radius: 0.5rem;
    position: absolute;
    background: color.$darkGreen;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.9;
  }

  .testimonial-index figure {
    width: 45%;
  }

  #help-contact-bg h3, #help-contact-bg p {
    width: 95%;
  }
}

#second-rev {
  background-color: color.$whiteSmoke;
}

.rev-name {
  font-weight: 500;
}

.rev-job {
  color: color.$darkGray;
}

@media all and (max-width: 1199px) {

  #first-rev, #third-rev {
    flex-direction: column-reverse;
  }

  #second-rev {
    flex-direction: column;
  }
}