---
const title: string = "Permet-me ajudar-te"
---

<section
  class="help-bg w-100 d-flex flex-column justify-content-center align-items-center py-5"
  id="help-contact-bg"
  aria-labelledby="help-contact-title"
>
  <h3 class="text-center pb-4" id="help-contact-title">
    {title}
  </h3>
  <p class="text-center pb-4">
    Contactar amb mi és el primer pas cap al canvi.
  </p>
  <p class="text-center pb-4">
    Una primera sessió gratuïta pot ser l'inici del teu viatge cap al creixement personal i el benestar emocional.
  </p>
  <a
    class="help-contact-btn btn mb-3 mb-sm-0"
    href="/contact"
    title="Reserva una sessió gratuïta"
    aria-label="Reserva una primera sessió de consulta gratuïta"
  >
    Primera sessió gratuïta
  </a>
</section>