---
import ProblemItem from "@components/ProblemItem.astro"

const title: string = "Et ressona alguna d'aquestes situacions?"
---

<section
  class="container-fluid d-flex flex-column justify-content-center align-items-center min-vh-100 py-5 over-x"
  aria-labelledby="help-problems-title"
>
  <h2 class="mb-5 text-center" id="help-problems-title" data-aos="zoom-in" data-aos-duration="1250">
    {title}
  </h2>
  <div class="container-fluid d-flex flex-column justify-content-center align-items-center over-x">
    <ul
      class="list-group min-vw-100 mb-0 mb-md-5 justify-content-evenly align-items-center list-group-horizontal-md"
      data-aos="fade-right"
      data-aos-duration="1250"
    >
      <ProblemItem route="/contact" className="anxiety" name="Ansietat" />
      <ProblemItem route="/contact" className="depression" name="Depressió" />
      <ProblemItem route="/contact" className="trauma" name="Trauma" />
    </ul>
    <ul
      class="list-group min-vw-100 mb-0 mb-md-5 justify-content-evenly align-items-center list-group-horizontal-md"
      data-aos="fade-left"
      data-aos-duration="1250"
    >
      <ProblemItem route="/contact" className="grief" name="Dol" />
      <ProblemItem route="/contact" className="stress" name="Estrès" />
      <ProblemItem route="/contact" className="addiction" name="Addiccions" />
    </ul>
    <ul
      class="list-group min-vw-100 mb-0 mb-md-5 justify-content-evenly align-items-center list-group-horizontal-md"
      data-aos="fade-right"
      data-aos-duration="1250"
    >
      <ProblemItem route="/contact" className="phobias" name="Fòbies" />
      <ProblemItem route="/contact" className="burnout" name="Esgotament" />
      <ProblemItem route="/contact" className="insomnia" name="Insomni" />
    </ul>
    <ul
      class="list-group min-vw-100 mb-0 mb-md-5 justify-content-evenly align-items-center list-group-horizontal-md"
      data-aos="fade-left"
      data-aos-duration="1250"
    >
      <ProblemItem route="/contact" className="loneliness" name="Solitud" />
      <ProblemItem route="/contact" className="anger" name="Gestió de la ràbia" />
      <ProblemItem route="/contact" className="guilt" name="Culpa" />
    </ul>
  </div>
</section>