---
const title: string = "Let Me Help You"
---

<section
  class="help-bg w-100 d-flex flex-column justify-content-center align-items-center py-5"
  id="help-contact-bg"
  aria-labelledby="help-contact-title"
>
  <h3 class="text-center pb-4" id="help-contact-title">
    {title}
  </h3>
  <p class="text-center pb-4">
    Contacting me is the initial step.
  </p>
  <p class="text-center pb-4">
    A free consultation can fundamentally be your journey's beginning for a personal growth and blooming campaign.
  </p>
  <a
    class="help-contact-btn btn mb-3 mb-sm-0"
    href="/contact"
    title="Schedule a free consultation"
    aria-label="Schedule a free consultation"
  >
    Free Consultation
  </a>
</section>