---
import { getEntry, render } from 'astro:content'
import type { CollectionEntry } from 'astro:content'

const helpLanding: CollectionEntry<"help"> | undefined = await getEntry("help", "why_therapy")
if (!helpLanding) {
  throw new Error('Could not find help\'s "why_therapy" text')
}

const { Content } = await render(helpLanding)

const title: string = "Per què fer teràpia?"
---

<section
  class="container-fluid col-sm-10 col-md-9 min-vh-100 d-flex flex-column justify-content-center py-5 over-hidden"
  aria-labelledby="why-therapy-title"
>
  <h2 class="my-5 mt-2 text-center" id="why-therapy-title" data-aos="zoom-out" data-aos-duration="1250">
    {title}
  </h2>
  <div class="container-fluid" data-aos="zoom-in" data-aos-duration="1250">
    <article>
      <Content />
    </article>
  </div>
</section>