---
import { myInfo } from '@data/myInfo'
import { getEntry, render } from 'astro:content'
import type { CollectionEntry } from 'astro:content'

const aboutLanding: CollectionEntry<"about"> | undefined = await getEntry("about", "career")
if (!aboutLanding) {
  throw new Error('Could not find about\'s "career" text')
}

const { Content } = await render(aboutLanding)
const { fullName } = myInfo

const title: string = "La meva trajectòria professional"
---

<section
  class="container-fluid justify-content-center row px-sm-2 py-4 p-xl-4 over-hidden"
  id="career-section"
  aria-labelledby="career-title"
>
  <div
    class="col-sm-10 col-md-7 col-lg-6 col-xl-4"
    data-aos="fade-up"
    data-aos-duration="1250"
  >
    <figure class="figure">
      <img
        src="/images/about-img-2.webp"
        loading="lazy"
        class="figure-img img-fluid rounded"
        alt={`${fullName} escoltant atentament`}
        title={fullName}
      >
    </figure>
  </div>
  <div
    class="intro-article col-sm-10 col-md-9 col-lg-8 col-xl-8"
    data-aos="fade-left"
    data-aos-duration="1250"
  >
    <h2 id="career-title" class="my-5 mt-2">{title}</h2>
    <article>
      <Content />
    </article>
  </div>
</section>