---
---

<section class="about-contact-bg d-flex flex-column justify-content-left align-items-top ps-3 ps-lg-5 pt-5">
  <div class="about-contact-div col-8 col-md-7 col-lg-6 col-xl-6">
    <p class="mb-4">At times you may need a helping hand.</p>
    <p class="mb-4">At times you may need someone you can talk to.</p>
    <p class="mb-5">I'm here to help you.</p>
  </div>
  <div class="about-contact-btn-div">
    <a
      href="/contact"
      class="about-contact-btn btn"
      title="Schedule a free consultation"
      aria-label="Schedule a free consultation"
    >
      Free Consultation
    </a>
  </div>
</section>