---
import { getEntry, render } from 'astro:content'
import type { CollectionEntry } from 'astro:content'
import { myInfo } from '@data/myInfo'

const aboutLanding: CollectionEntry<"about"> | undefined = await getEntry("about", "approach")
if (!aboutLanding) {
  throw new Error('Could not find about\'s "approach" text')
}

const { Content } = await render(aboutLanding)
const { fullName } = myInfo

const title: string = "El mètode que faitg servir"
---

<section
  class="container-fluid justify-content-center row px-sm-2 py-4 p-xl-4 over-hidden"
  aria-labelledby="about-approach-title"
>
  <div
    class="intro-article col-sm-10 col-md-9 col-lg-8 col-xl-8"
    data-aos="fade-right"
    data-aos-duration="1250"
  >
    <h2 class="my-5 mt-2" id="about-approach-title">
      {title}
    </h2>
    <Content />
  </div>
  <div
    class="col-sm-10 col-md-7 col-lg-6 col-xl-4"
    data-aos="fade-up"
    data-aos-duration="1250"
  >
    <figure class="figure">
      <img
        src="/images/about-img-1.webp"
        loading="lazy"
        class="figure-img img-fluid rounded"
        alt={`${fullName} listening to a patient`}
        title={fullName}
      >
    </figure>
  </div>
</section>