---
import { myInfo } from '@data/myInfo'
import { getEntry, render } from 'astro:content'
import type { CollectionEntry } from 'astro:content'

const aboutLanding: CollectionEntry<"about"> | undefined = await getEntry("about", "motivation")
if (!aboutLanding) {
  throw new Error('Could not find about\'s "motivation" text')
}

const { Content } = await render(aboutLanding)
const { fullName } = myInfo

const title: string = "Quina és la meva motivació"
---

<section
  class="container-fluid d-flex row justify-content-center align-items-center px-sm-2 py-4 p-xl-4 over-hidden min-vh-50"
  aria-labelledby="about-motivation-title"
>
  {/* The align-items-center above will vertically center both columns */}
  
  <div
    class="intro-article col-sm-10 col-md-9 col-lg-8 col-xl-8"
    data-aos="fade-right"
    data-aos-duration="1250"
  >
    <h2 class="my-5 mt-2" id="about-motivation-title">
      {title}
    </h2>
    <Content />
  </div>

  <div
    class="col-sm-10 col-md-7 col-lg-6 col-xl-4 d-flex justify-content-center"
    data-aos="fade-up"
    data-aos-duration="1250"
  >
    <figure class="figure mb-0">
      <img
        src="/images/about-img-3.gif"
        class="figure-img img-fluid rounded shadow-sm"
        alt={`${fullName} escoltant atentament`}
        title={fullName}
      >
    </figure>
  </div>
</section>