---
// Layouts and components
import Layout from '@layouts/Layout.astro';

import Navbar from '@components/Navbar.astro';
import AboutIntro from '@components/About/AboutIntro.astro';
import AboutApproach from '@components/About/AboutApproach.astro';
import AboutCareer from '@components/About/AboutCareer.astro';
import AboutMotivation from '@components/About/AboutMotivation.astro';
import AboutContact from '@components/About/AboutContact.astro';
import Footer from '@components/Footer.astro';

const intro: string = "Sobre mi"
---

<Layout title="Musicoteràpia i Psicologia: Sobre mi">
  <header class="header" id="about-header" aria-labelledby="about-hero-title">
    <Navbar />
    <h1 class="hero-title" id="about-hero-title">
      {intro}
    </h1>
  </header>
  <main id="index-main" class="main">
    <AboutIntro />
    <AboutApproach />
    <AboutCareer />
    <AboutMotivation />
    <AboutContact />
  </main>
  <Footer />
</Layout>