---
// Layouts and components
import Layout from '@layouts/Layout.astro';

import Navbar from '@components/Navbar.astro';
import WhyTherapy from '@components/Help/WhyTherapy.astro';
import HelpBg from '@components/Help/HelpBg.astro';
import HelpProblems from '@components/Help/HelpProblems.astro';
import Benefits from '@components/Help/Benefits.astro';
import HelpContact from '@components/Help/HelpContact.astro';
import Footer from '@components/Footer.astro';

const intro: string = "Demanar ajuda"
---

<Layout title="Musicoteràpia i Psicologia: Com et puc ajudar">
  <header class="header" id="help-header" aria-labelledby="help-hero-title">
    <Navbar />
    <h1 class="hero-title" id="help-hero-title">
      {intro}
    </h1>
  </header>
  <main id="index-main" class="main">
    <WhyTherapy />
    <HelpBg />
    <HelpProblems />
    <Benefits />
    <HelpContact />
  </main>
  <Footer />
</Layout>