---
// Layouts and components
import Layout from '@layouts/Layout.astro';

import Navbar from '@components/Navbar.astro';
import Landing from '@components/Home/Landing.astro';
import Testimonial from '@components/Home/Testimonial.astro';
import Problems from '@components/Home/Problems.astro';
import QuotesSection from '@components/Home/QuotesSection.astro';
import Footer from '@components/Footer.astro';

const intro: string = "Benvingut / Benvinguda"
---

<Layout title="Musicoteràpia i Psicologia: Benvinguts">
    <header class="header" id="index-header" aria-labelledby="index-hero-title">
        <Navbar />
    <h1 class="hero-title" id="index-hero-title">
            {intro}
        </h1>
  </header>
    <main id="index-main" class="main">
        <Landing />
        <Testimonial />
        <Problems />
        <QuotesSection />
    </main>
    <Footer />
</Layout>