---
import Layout from '@layouts/Layout.astro';

import Navbar from '@components/Navbar.astro';
import TestimonialsWrapper from '@components/Testimonials/TestimonialsWrapper.astro';
import ContactTestimonials from '@components/Testimonials/ContactTestimonials.astro';
import Footer from '@components/Footer.astro';

const intro: string = "Healing Testimonials"
---

<Layout title="Pyschotherapist: Testimonials">
  <header class="header" id="testimonials-header" aria-labelledby="testimonials-hero-title">
    <Navbar />
    <h1 class="hero-title" id="testimonials-hero-title">
      {intro}
    </h1>
  </header>
  <main id="index-main" class="main">
    <TestimonialsWrapper />
    <ContactTestimonials />
  </main>
  <Footer />
</Layout>