---
import { quotes } from "@data/quotes"
import { renderQuoteCard } from '@helpers/renderQuoteCard'
---

<section
  id="carouselExampleSlidesOnly"
  class="carousel slide quotes-carousel carousel-fade"
  data-bs-ride="carousel"
  aria-label="Carousel of inspiring quotes"
>
  <div class="carousel-inner">
    {quotes.map((quoteData, index) => (
      <div class={`carousel-item ${index === 0 ? 'active' : ''}`}>
        <Fragment set:html={renderQuoteCard(quoteData[0], quoteData[1])} />
      </div>
    ))}
  </div>
</section>