---
import { testimonials } from "@data/testimonials"

const { sophiaGallac } = testimonials
---

<section
  class="container-fluid testimonial-index d-flex flex-column justify-content-center justify-content-lg-evenly justify-content-xl-evenly align-items-center py-5 over-hidden"
  role="region"
  aria-label="Testimonial section"
>
  <!--- Picture --->
  <figure class="figure d-flex flex-column justify-content-center align-items-center mb-4">
    <img
      src="/images/test-img.webp"
      loading="lazy"
      class="figure-img img-fluid rounded "
      alt={`${sophiaGallac.fullName} smiling happily`}
      title={sophiaGallac.fullName}
      aria-labelledby="client-caption"
      data-aos="zoom-out"
      data-aos-duration="1250"
    >
    <figcaption
      class="figure-caption text-center"
      id="client-caption"
      data-aos="fade-left"
      data-aos-duration="1250"
    >
      {sophiaGallac.fullName}
    </figcaption>
    <hr class="caption-underline" aria-hidden="true">
  </figure>
  <!--- Testimonial --->
  <div
    class="container-fluid testimonial-index-text mb-4"
    data-aos="zoom-in"
    data-aos-duration="1250"
  >
    <p class="text-center">
      <q>{sophiaGallac.testimonial}</q>
    </p>
  </div>
  <a
    class="btn index-testimonial-btn"
    href="/testimonials"
    title="Go to Testimonials page"
    aria-label="Go to Testimonials page"
  >
    Clients' Testimonials
  </a>
</section>