---
const contactFormIntro: string = "Demana la teva primera sessió omplint i enviant aquest formulari"
const actionUrl: string = "https://api.web3forms.com/submit"
const ACCESS_KEY: string = import.meta.env.PUBLIC_WEB3_FORMS_API_KEY || ""
---

<section
  class="container-fluid d-flex flex-column justify-content-center align-items-center py-5 over-x"
  id="form-wrapper"
  aria-labelledby="contact-form-title"
>
  <h2
    class="col-11 col-lg-7 col-xl-8 text-center mb-5 lh-base"
    id="contact-form-title"
    data-aos="fade-down"
    data-aos-duration="1500"
  >
    {contactFormIntro}
  </h2>

  <form class="row g-3 col-12 col-lg-11" action="https://api.web3forms.com/submit" method="POST">
    {/* Explicitly check if the key exists, otherwise it sends an empty string which triggers the error */}
    <input type="hidden" name="access_key" value={ACCESS_KEY}>
    <input type="hidden" name="from_name" value="Musicosalut Web">
    <input type="hidden" name="subject" value="Nova consulta de client - Musicosalut">
    
    {/* Anti-Spam Honeypot */}
    <input type="checkbox" name="botcheck" class="d-none" style="display: none;">

    <div class="col-md-6">
      <label for="inputName" class="form-label">Nom i cognoms</label>
      <input type="text" name="name" class="form-control" id="inputName" placeholder="Escriu el teu nom" required>
    </div>
    
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Correu electrònic</label>
      <input type="email" name="email" class="form-control" id="inputEmail4" placeholder="el-teu@correu.com" required>
    </div>
    
    <div class="col-md-6">
      <label for="inputPhone" class="form-label">Telèfon</label>
      <input type="tel" name="phone" class="form-control" id="inputPhone" placeholder="El teu número" required>
    </div>
    
    <div class="col-md-6">
      <label for="inputCity" class="form-label">Població</label>
      <input type="text" name="city" class="form-control" id="inputCity" placeholder="La teva ciutat" required>
    </div>

    <div class="col-12 mt-3">
      <label for="messageTextarea" class="form-label">Com et puc ajudar?</label>
      <textarea
        class="form-control"
        name="message"
        id="messageTextarea"
        style="height: 150px"
        placeholder="Explica'm breument què necessites..."
        required
      ></textarea>
    </div>
    
    <div class="col-12 d-flex flex-column flex-sm-row justify-content-center mt-4">
      <button type="submit" class="btn btn-success mx-4 mb-3 mb-sm-0 px-5 py-2 rounded-pill">
        Enviar missatge
      </button>
      <button type="reset" class="btn btn-warning mx-4 px-5 py-2 rounded-pill">
        Restablir
      </button>
    </div>
  </form>
</section>