---
import { getCurrentYear } from "@utils/getCurrentYear"
---

<section
  class="dev-signature d-flex justify-content-center align-items-center me-lg-4"
  aria-label="Developer signature small section"
>
  <p class="dev-signing mb-0 text-center text-white">
    <a
      class="dev-link me-1"
      href="https://github.com/jnavno"
      target="_blank"
      rel="noreferrer noopener"
      title="Go to jnavno's Github account"
      aria-label="Go to jnavno's Github account"
    >
      jnavno <i class="fa-brands fa-github" aria-hidden="true"></i>
    </a>
  </p>
  <p class="mb-0" aria-label={`Copyright ${getCurrentYear()}`}>
    | &#169; {getCurrentYear()}
  </p>
</section>