---
import DevSignature from "./DevSignature.astro";

const currentPath = Astro.url.pathname;
const isActive = (path: string) => currentPath === path ? "nav-link active" : "nav-link";
---

<footer class="footer d-flex flex-wrap flex-column justify-content-center align-content-center py-5 py-lg-2 flex-lg-row justify-content-lg-between">
  <nav class="navbar navbar-expand-lg" id="navigation">
    <div class="container-fluid justify-content-center">
      <div id="navbarNav w-100">
        <ul class="navbar-nav footbar" aria-label="Menú de navegació del peu de pàgina">
          <li class="nav-item">
            <a
              class={`text-center ${isActive("/")}`}
              href="/"
              title="Anar a l'Inici"
              aria-label="Anar a la pàgina d'Inici"
            >
              Inici
            </a>
          </li>
          <li class="nav-item">
            <a
              class={`text-center ${isActive("/about")}`}
              href="/about"
              title="Saber-ne més sobre mi"
              aria-label="Anar a la pàgina Sobre mi"
            >
              Sobre mi
            </a>
          </li>
          <li class="nav-item">
            <a
              class={`text-center ${isActive("/help")}`}
              href="/help"
              title="Com et puc ajudar"
              aria-label="Anar a la pàgina d'ajuda terapèutica"
            >
              Com t'ajudo
            </a>
          </li>
          <li class="nav-item">
            <a
              class={`text-center ${isActive("/contact")}`}
              href="/contact"
              title="Contactar amb mi"
              aria-label="Anar a la pàgina de contacte"
            >
              Contacte
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <DevSignature />
</footer>