---
const currentPath = Astro.url.pathname;
const isActive = (path: string) => currentPath === path ? "nav-link active" : "nav-link";
---

<nav class="navbar navbar-expand-lg bg-body-tertiary" id="navigation">
  <div class="container-fluid" id="navigation-wrapper">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class={isActive("/")}
            href="/"
            title="Anar a l'Inici"
            aria-label="Anar a la pàgina d'Inici"
          >
            Inici
          </a>
        </li>
        <li class="nav-item">
          <a
            class={isActive("/about")}
            href="/about"
            title="Saber-ne més sobre mi"
              aria-label="Anar a la pàgina Sobre mi"
          >
            Sobre mi
          </a>
        </li>
        <li class="nav-item">
          <a
            class={isActive("/help")}
            href="/help"
            title="Com et puc ajudar"
            aria-label="Anar a la pàgina d'ajuda terapèutica"
          >
            Com t'ajudo
          </a>
        </li>
        <li class="nav-item">
          <a
            class={isActive("/contact")}
            href="/contact"
            title="Contactar amb mi"
            aria-label="Anar a la pàgina de contacte"
          >
            Contacte
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>