.text-center {
  text-align: center;
}

.capital {
  text-transform: capitalize;
}

.caps {
  text-transform: uppercase;
}

.over-x {
  overflow-x: hidden;
}

.over-y {
  overflow-y: hidden;
}

.over-hidden {
  overflow: hidden;
}

*::selection {
  background-color: #254221;
  color: #f6f6f6;
}

html body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden !important;
}

h1, h2 {
  font-family: "Prata", system-ui;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

a {
  text-decoration: none !important;
}

.hero-title {
  width: 100%;
  text-align: center;
  font-size: 4.75rem;
  color: #f6f6f6;
  text-shadow: 0 0 0.5rem #252525;
}

p {
  font-size: 1.1rem;
  text-wrap: pretty;
}

.container-fluid #navbarNav {
  justify-content: center;
}

.container-fluid .navbar-brand {
  margin-right: 0;
}

.header .bg-body-tertiary {
  background-color: unset !important;
}

#navigation #navigation-wrapper .navbar-toggler {
  background-color: #4F772D;
}
#navigation #navigation-wrapper .navbar-toggler .navbar-toggler-icon {
  color: #f6f6f6 !important;
}

.nav-item .nav-link {
  color: #f4f4f4;
  text-shadow: 0 0 0.75rem #252525;
  font-size: 1.25rem;
}
.nav-item .nav-link:hover {
  text-shadow: 0 0 0 transparent;
}

.nav-item {
  padding-inline: 0.75rem;
}

@media all and (max-width: 767px) {
  .hero-title {
    font-size: 3.5rem;
  }
}
@media all and (max-width: 1280px) {
  p {
    font-size: 1rem;
  }
}
#navigation .container-fluid {
  justify-content: right;
}

.navbar-nav .nav-link.active {
  color: #4F772D !important;
  text-shadow: 0 0 0 transparent;
}

.footbar .nav-link.active {
  color: #151515 !important;
}

.index-title {
  color: #4F772D;
}

#index-header, #about-header, #help-header, #testimonials-header, #contact-header, #error-main {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

.header .hero-title {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateX(-50%);
}

#index-header::before, #about-header::before, #help-header::before, #testimonials-header::before, #contact-header::before, #error-main::before {
  content: "";
  inset: 0;
  position: absolute;
  z-index: -1;
  background: #254221;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
}

#index-header::after {
  background-image: url("/images/index-hero.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  inset: 0;
  position: absolute;
  z-index: -1;
  opacity: 0.8;
}

#about-header::after {
  background-image: url("/images/about-hero.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  inset: 0;
  position: absolute;
  z-index: -1;
  opacity: 0.8;
}

#help-header::after {
  background-image: url("/images/help-hero.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  inset: 0;
  position: absolute;
  z-index: -1;
  opacity: 0.8;
}

#testimonials-header::after {
  background-image: url("/images/testimonials-hero.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  inset: 0;
  position: absolute;
  z-index: -1;
  opacity: 0.8;
}

#contact-header::after {
  background-image: url("/images/contact-hero.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  inset: 0;
  position: absolute;
  z-index: -1;
  opacity: 0.8;
}

#error-main::after {
  background-image: url("/images/error-hero.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  inset: 0;
  position: absolute;
  z-index: -1;
  opacity: 0.8;
}

body .main {
  width: 100%;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-btns .landing-btn {
  padding: 0.75rem 1.5rem;
  border-radius: 3rem;
  color: #f6f6f6;
}
.landing-btns .contact-btn {
  border: 2px solid #254221;
  color: #151515;
}
.landing-btns .contact-btn:hover {
  border-color: #90A955;
  background-color: #90A955;
  color: #f6f6f6;
}
.landing-btns .about-btn {
  border: 2px solid #b6bd6e;
  color: #151515;
}
.landing-btns .about-btn:hover {
  border-color: #ECF39E;
  background-color: #ECF39E;
  color: #151515;
}

.testimonial-index {
  min-height: 80vh;
  background-color: #f4f4f4;
}

.testimonial-index figure {
  width: 25%;
}

.testimonial-index #client-caption {
  font-size: 1.25rem;
}

.caption-underline {
  width: 50%;
  border-top: 4px solid #aaaaaa;
  margin-bottom: 0rem;
}

.testimonial-index .testimonial-index-text {
  width: 75%;
}
.testimonial-index .testimonial-index-text p {
  font-size: 1.25rem;
}

.list-group .list-group-item {
  min-width: 12rem;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  text-align: center;
  padding: 0;
}
.list-group .list-group-item a {
  min-width: 100% !important;
  color: #151515;
  padding: 0.5rem 1rem;
  border-radius: 3rem;
  transition: 0.3s linear all;
}
.list-group .list-group-item .anxiety {
  border: 3px solid #B0C4DE;
  border-left: 26px solid #B0C4DE;
}
.list-group .list-group-item .anxiety:hover {
  background-color: #B0C4DE;
  color: #f6f6f6;
  text-shadow: 0 0 0.25rem #151515;
}
.list-group .list-group-item .depression {
  border: 3px solid #2F4F4F;
  border-left: 26px solid #2F4F4F;
}
.list-group .list-group-item .depression:hover {
  background-color: #2F4F4F;
  color: #f6f6f6;
  text-shadow: 0 0 0.25rem #151515;
}
.list-group .list-group-item .trauma {
  border: 3px solid #8B0000;
  border-left: 26px solid #8B0000;
}
.list-group .list-group-item .trauma:hover {
  background-color: #8B0000;
  color: #f6f6f6;
  text-shadow: 0 0 0.25rem #151515;
}
.list-group .list-group-item .grief {
  border: 3px solid #36454F;
  border-left: 26px solid #36454F;
}
.list-group .list-group-item .grief:hover {
  background-color: #36454F;
  color: #f6f6f6;
  text-shadow: 0 0 0.25rem #151515;
}
.list-group .list-group-item .stress {
  border: 3px solid #FF6347;
  border-left: 26px solid #FF6347;
}
.list-group .list-group-item .stress:hover {
  background-color: #FF6347;
  color: #f6f6f6;
  text-shadow: 0 0 0.25rem #151515;
}
.list-group .list-group-item .addiction {
  border: 3px solid #4B0082;
  border-left: 26px solid #4B0082;
}
.list-group .list-group-item .addiction:hover {
  background-color: #4B0082;
  color: #f6f6f6;
  text-shadow: 0 0 0.25rem #151515;
}
.list-group .list-group-item .phobias {
  border: 3px solid #4682B4;
  border-left: 26px solid #4682B4;
}
.list-group .list-group-item .phobias:hover {
  background-color: #4682B4;
  color: #f6f6f6;
  text-shadow: 0 0 0.25rem #151515;
}
.list-group .list-group-item .burnout {
  border: 3px solid #CC5500;
  border-left: 26px solid #CC5500;
}
.list-group .list-group-item .burnout:hover {
  background-color: #CC5500;
  color: #f6f6f6;
  text-shadow: 0 0 0.25rem #151515;
}
.list-group .list-group-item .insomnia {
  border: 3px solid #191970;
  border-left: 26px solid #191970;
}
.list-group .list-group-item .insomnia:hover {
  background-color: #191970;
  color: #f6f6f6;
  text-shadow: 0 0 0.25rem #151515;
}
.list-group .list-group-item .loneliness {
  border: 3px solid #9370DB;
  border-left: 26px solid #9370DB;
}
.list-group .list-group-item .loneliness:hover {
  background-color: #9370DB;
  color: #f6f6f6;
  text-shadow: 0 0 0.25rem #151515;
}
.list-group .list-group-item .anger {
  border: 3px solid #B22222;
  border-left: 26px solid #B22222;
}
.list-group .list-group-item .anger:hover {
  background-color: #B22222;
  color: #f6f6f6;
  text-shadow: 0 0 0.25rem #151515;
}
.list-group .list-group-item .guilt {
  border: 3px solid #556B2F;
  border-left: 26px solid #556B2F;
}
.list-group .list-group-item .guilt:hover {
  background-color: #556B2F;
  color: #f6f6f6;
  text-shadow: 0 0 0.25rem #151515;
}

.testimonial-index .index-testimonial-btn, .benefits-btn-section .index-testimonial-btn {
  border: 2px solid #4F772D;
  background-color: transparent;
  color: #4F772D;
  padding: 0.5rem 1.75rem;
  border-radius: 3rem;
}
.testimonial-index .index-testimonial-btn:hover, .benefits-btn-section .index-testimonial-btn:hover {
  background-color: #4F772D;
  color: #f6f6f6;
}

.quotes-carousel {
  min-width: 100vw;
  min-height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.quotes-carousel::before {
  content: "";
  inset: 0;
  z-index: -1;
  position: absolute;
  background: #252525;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.4;
}

.quotes-carousel::after {
  content: "";
  inset: 0;
  z-index: -5;
  position: absolute;
  background-image: url("/images/quotes-bg.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
}

.footer {
  background-color: #4F772D;
}

.blockquote {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.blockquote p {
  width: 50%;
}

.quote-text {
  font-size: 2.25rem;
  margin-bottom: 1.5rem;
}

.quote-author {
  font-size: 1.5rem;
  font-style: italic;
}

.dev-signing {
  color: #f4f4f4;
}

.dev-link {
  color: #b6bd6e;
  transition: 0.3s linear all;
}
.dev-link:hover {
  color: #ECF39E;
}

#about-intro-line {
  width: 85%;
  border-top: 4px solid #aaaaaa;
}

#career-section {
  background-color: #f4f4f4;
}

.about-contact-bg {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

.about-contact-bg::after {
  content: "";
  inset: 0;
  position: absolute;
  z-index: -1;
  background-image: url("/images/about-contact-bg.webp");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
}

.about-contact-div p {
  color: #f4f4f4;
  text-shadow: 0 0 0.5rem #303030;
  font-size: 2rem;
}

.about-contact-btn-div .about-contact-btn {
  min-width: 14rem;
  border: 4px solid #f4f4f4;
  border-radius: 3rem;
  color: #f4f4f4;
  text-shadow: 0 0 0.5rem #151515;
  transition: 0.3s linear all;
}
.about-contact-btn-div .about-contact-btn:hover {
  border: 4px solid #4F772D;
  color: #f6f6f6;
  background-color: #4F772D;
}

#help-bg {
  min-height: 90vh;
  position: relative;
}
#help-bg::after {
  content: "";
  inset: 0;
  z-index: -1;
  position: absolute;
  background-image: url("/images/help-bg.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.9;
}
#help-bg .help-bg-quote {
  font-size: 1.75rem;
  color: #f6f6f6;
  text-shadow: 0 0 0.25rem #151515;
}
#help-bg .help-bg-author {
  font-size: 1.25rem;
  font-style: italic;
  color: #f6f6f6;
  text-shadow: 0 0 0.25rem #151515;
}

#benefits-intro {
  background-color: #f4f4f4;
}

.benefits-list .benefit-item {
  font-size: 1.1rem;
}

#help-contact-bg {
  min-height: 100vh;
  position: relative;
}
#help-contact-bg::after {
  content: "";
  inset: 0;
  z-index: -1;
  position: absolute;
  background-image: url("/images/help-bg-contact.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
}
#help-contact-bg h3 {
  width: 65%;
  color: #f6f6f6;
  text-shadow: 0 0 0.5rem #151515;
  font-size: 3.75rem;
}
#help-contact-bg p {
  width: 60%;
  color: #f6f6f6;
  text-shadow: 0 0 0.35rem #151515;
  font-size: 1.5rem;
}
#help-contact-bg .help-contact-btn {
  padding: 0.5rem 2rem;
  border-radius: 3rem;
  color: #f6f6f6;
  border: 2px solid #f6f6f6;
  text-shadow: 0 0 0.5rem #151515;
  box-shadow: 0 0 0.15rem 0 #151515;
}
#help-contact-bg .help-contact-btn:hover {
  border: 2px solid #90A955;
  background-color: #90A955;
  color: #f6f6f6;
}

#testimonials-wrapper {
  min-height: 100vh;
}

#testimonials-contact-bg {
  min-height: 100vh;
  position: relative;
}
#testimonials-contact-bg::before {
  content: "";
  inset: 0;
  z-index: -1;
  position: absolute;
  background: #151515;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.2;
}
#testimonials-contact-bg::after {
  content: "";
  inset: 0;
  z-index: -2;
  position: absolute;
  background-image: url("/images/testimonials-bg-contact.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
}

#testimonials-contact-bg .testimonials-contact-btn {
  padding: 0.5rem 2rem;
  border-radius: 3rem;
  color: #f6f6f6;
  border: 2px solid #f6f6f6;
  text-shadow: 0 0 0.5rem #151515;
  box-shadow: 0 0 0.15rem 0 #151515;
}
#testimonials-contact-bg .testimonials-contact-btn:hover {
  border: 2px solid #90A955;
  background-color: #90A955;
  color: #f6f6f6;
}

#testimonials-contact-bg blockquote .testimonials-quote {
  font-size: 1.75rem;
  color: #f6f6f6;
  text-shadow: 0 0 0.25rem #151515;
}
#testimonials-contact-bg blockquote .testimonials-author {
  font-size: 1.25rem;
  font-style: italic;
  color: #f6f6f6;
  text-shadow: 0 0 0.25rem #151515;
}

#faq-wrapper {
  min-height: 100vh;
}

.accordion-button:not(.collapsed) {
  background-color: #90A955 !important;
  color: #f6f6f6 !important;
}

#form-wrapper {
  min-height: 100vh;
}

.contact-info-list {
  list-style: none;
  padding-left: 0;
}

#floatingTextarea2 {
  resize: none;
}

#textarea-label {
  margin-left: 0.5rem;
}

#error-main {
  color: #f6f6f6;
}
#error-main h1, #error-main h2 {
  text-shadow: 0 0 0.25rem #252525;
}

#error-main .error-btn {
  padding: 0.5rem 3rem;
  border-radius: 3rem;
  color: #f6f6f6;
  border: 2px solid #f6f6f6;
  font-size: 1.25rem;
  text-shadow: 0 0 1rem #151515;
}
#error-main .error-btn:hover {
  border: 2px solid #4F772D;
  background-color: #4F772D;
  color: #f6f6f6;
}

@media all and (max-width: 480px) {
  .hero-title {
    font-size: 3.25rem;
  }
  .about-contact-div p {
    font-size: 1.25rem;
  }
  .testimonial-index figure {
    width: 35%;
  }
  .testimonial-index .testimonial-index-text {
    width: 90%;
  }
  #contact-header::after {
    background-position-x: 65%;
  }
}
@media all and (min-width: 481px) and (max-width: 767px) {
  .about-contact-div p {
    font-size: 1.75rem;
  }
}
@media all and (max-width: 767px) {
  .testimonial-index figure {
    min-width: 75%;
  }
  .blockquote p {
    width: 90%;
  }
  .list-group .list-group-item {
    min-width: 18rem;
  }
  .about-contact-bg::after {
    background-image: url("/images/about-contact-bg-mobile.webp");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media all and (max-width: 991px) {
  #navbarNav .navbar-nav {
    position: relative;
    margin-top: 0.75rem;
  }
  #navbarNav .navbar-nav::before {
    content: "";
    inset: 0;
    z-index: -1;
    border-radius: 0.5rem;
    position: absolute;
    background: #254221;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.9;
  }
  .testimonial-index figure {
    width: 45%;
  }
  #help-contact-bg h3, #help-contact-bg p {
    width: 95%;
  }
}
#second-rev {
  background-color: #f4f4f4;
}

.rev-name {
  font-weight: 500;
}

.rev-job {
  color: #5a5a5a;
}

@media all and (max-width: 1199px) {
  #first-rev, #third-rev {
    flex-direction: column-reverse;
  }
  #second-rev {
    flex-direction: column;
  }
}

/*# sourceMappingURL=styles.css.map */
