---
import FirstReview from "./FirstReview.astro"
import SecondReview from "./SecondReview.astro"
import ThirdReview from "./ThirdReview.astro"

const title: string = "Experències de sanació dels meus clients"
---

<section
  class="pt-5 pb-2 d-flex flex-column align-items-center over-x"
  id="testimonials-wrapper"
  aria-labelledby="testimonials-wrapper-title"
>
  <h2
    class="text-center"
    id="testimonials-wrapper-title"
    data-aos="zoom-out"
    data-aos-duration="1250"
  >
    {title}
  </h2>
  <FirstReview />
  <SecondReview />
  <ThirdReview />
</section>