.text-center {
  text-align: center;
}

.capital {
  text-transform: capitalize;
}

.caps {
  text-transform: uppercase;
}

.over-x {
  overflow-x: hidden;
}

.over-y {
  overflow-y: hidden;
}

.over-hidden {
  overflow: hidden;
}