$lightWhite: #fefefe;
$white: #f6f6f6;
$whiteSmoke: #f4f4f4;

$softGray: #d3d3d3;
$softGrey: #d3d3d3;
$gray: #aaaaaa;
$grey: #aaaaaa;
$darkGray: #5a5a5a;
$darkGrey: #5a5a5a;
$darkerGray: #444444;
$darkerGrey: #444444;

$softerBlack: #303030;
$softBlack: #252525;
$black: #151515;
$darkBlack: #070707;
$darkerBlack: #020202;

$darkerGreen: #132A13;
$darkGreen: #254221;
$green: #4F772D;
$softGreen: #90A955;
$beige: #d6bda5;
$darkCream: #b6bd6e;
$cream: #ECF39E;